body {
    margin: 0;
    font-family: "Montserrat";
    background-image: url("../images/pinkpoly.png");
    background-size: cover;
}

.header {
    box-shadow: 0px -5px 30px pink;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
}

.navLeft,
.navRight,
.center,
.logo {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 10px 20px;
}

.navLeft>* {
    margin-right: 12px;
}

.navLeft a {
    text-decoration: none;
    font-size: 14px;
    color: #aeeeee;
}

.navRight a {
    margin-left: 30px;
    padding-top: 5px;
}

.center {
    padding: 5px 10px;
    flex: 1;
}

.center>* {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    color: #5664ad;
}

ul li {
    list-style: none;
}

div.row {
    display: flex;
    flex-direction: row;
}

div.col {
    display: flex;
    flex-direction: column;
}

div.line-r {
    position: relative;
}

div.line-r:after {
    content: "";
    position: absolute;
    background-color: #d3dbed;
    height: 90%;
    align-self: center;
    width: 2px;
    right: 0;
}

.custom-select-option {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid 1px grey;
    height: 50px;
}

.custom-select-option:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: .3s;
    cursor: pointer;
}

.section-title {
    position: relative;
    padding-left: 5%;
}

.section-title h2 {
    padding-bottom: 10px;
    width: fit-content;
    position: relative;
}

.section-title h2:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 3px;
    background: pink;
    bottom: 0px;
    left: 0;
}

.slashes {
    overflow: hidden;
    height: 300px;
    max-width: 100vw;
    min-width: 1000px;
    scroll-behavior: smooth;
    background: rgb(247, 52, 122);
    width: 100%;
}

div[class^="slash-"] {
    float: left;
    position: relative;
    width: 25%;
    height: 100%;
    transform: skewX(10deg);
    overflow: hidden;
}

div[class^="slash-"] img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    transition: 0.2s ease-out;
    overflow: hidden;
    transform: scale(1.2);
}

div[class^="slash-"] h3 {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 5;
    transform: skewX(-10deg);
}

div[class^="slash-"] h3 {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 10;
    transform: skewX(-10deg);
    transition: 0.2s ease-in;
}

div[class^="slash-"]:hover {
    cursor: pointer;
}

div[class^="slash-"] .arrow-right {
    transition: 0.2s;
    margin-left: 5px;
}

div[class^="slash-"]:hover .arrow-right {
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.2s;
}

div[class^="slash-"]:hover h3 {
    transform: skewX(-10deg) translateX(10px);
    transition: 0.2s ease-out;
}

div[class^="slash-"] h3:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: pink;
    width: 60%;
    height: 3px;
}

div[class^="slash-"]:hover img {
    transform: scale(1.4);
    transition: 0.2s;
}

div[class^="slash-"]:after {
    transition: 0.5s;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 5;
    top: 0;
    left: 0;
}

.more {
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: 10;
    transform: skew(-10deg);
    padding-bottom: 5px;
}

.more:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: black;
    transition: 0.2s;
}

div[class^="slash-"]:hover .more {
    color: orange;
    transition: 0.2s;
}


/* div[class^='slash-']:hover .more:after{
  width:50%;
  background:white;
  transition:.2s;
} */

.fl {
    float: left;
}

.product {
    position: relative;
}

.product img {
    /*   position: absolute; */
    height: max-content;
    width: max-content;
}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.btn.product-details {
    color: white;
    background: transparent;
    margin: 0 6%;
    border: solid;
    transition: 0.2s;
}

.btn.product-details:hover {
    cursor: pointer;
    color: orange;
    border-color: orange;
    transition: 0.2s;
}

.btn.product-details:hover h2 {
    color: orange;
    border-color: orange;
    transition: 0.2s;
}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background: transparent;
    width: 100%;
    height: 100%;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .2s;
    filter: opacity(0);
}

.product:hover {
    cursor: pointer;
}

.product:hover .product-overlay {
    visibility: visible;
    filter: opacity(1);
    background: rgba(0, 0, 0, 0.4);
    transition: .2s;
}


/*# sourceMappingURL=layout.css.map */