{% extends "base.html" %}
{% block content %}
<div class="container-fluid" style="background:white;">

   <div style="position: relative;display:flex;justify-content:center;align-items:center;padding:5% 0;">
      <span style="background:black;display:block;height:2px;    width: -webkit-fill-available;"></span>
      <div class="py-1 px-5 text-center" style="    width: -webkit-fill-available;">
         <h2>關於我們</h2>
      </div>
      <span style="background:black;display:block;height:2px;    width: -webkit-fill-available;"></span>
   </div>
    <div class="container pb-5">
        {% lorem %}
    </div>
</div>
{% endblock %}