{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
   <div class="center" style="background-image:url({% static 'images/pinkpoly.png' %});background-size: cover;">
   <img src="{% static 'images/logo.png' %}" style="width:30vw;"/>
   </div>
   <div style="position: relative;display:flex;justify-content:center;align-items:center;padding:5% 0;">
      <div class="blackline"></div>
      <h2 class="" style="text-align:center;display:block;padding:0;margin:0;    width: -webkit-fill-available;">關於我們</h2>
      <div class="blackline"></div>
   </div>

   <div class="content" style="padding:3% 5%">
   {% lorem 4 b random %}
   </div>
</div>
{% endblock %}