{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="description" content="天然水晶🔮能量水晶🦄持牌|不HardSell的商店💜 🌈秘密獨創的淨化方法令水晶更靈驗 \n 以專業水晶知識介紹適合你的水晶">
    <meta name="keywords" content="Crystal,design,HK,pinkland,pink">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" >
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,700;1,200&display=swap" rel="stylesheet">
    <link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <title>Pinkland 水晶</title>
</head>

<body>
<div id="loader-wrapper">
  <div id="loader"></div>
  
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
  
</div>
    <!-- header nav with logo -->
    <header>
        <div class="square top" style="border-bottom-right-radius: 50%;"><a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" class="logo" style="max-width:100%" alt=""></a></div>
        <div class="fill">
        <div class="burger" id="burger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
    </header>
      
  <div class="menu">
    <ul>
      <li class="menu-item"><div class="blackline"></div><a href="{% url 'home' %}">主頁</a><div class="blackline"></div></li>
      <li class="menu-item"><div class="blackline"></div><a href="{% url 'product_list' %}">所有產品</a><div class="blackline"></div></li>
      <li class="menu-item"><div class="blackline"></div><a href="{% url 'aboutus' %}">關於我們</a><div class="blackline"></div></li>
      <li class="menu-item"><div class="blackline"></div><a href="{% url 'contact' %}">聯繫我們</a><div class="blackline"></div></li>
    </ul>
    
  </div>

    {% block content %} {% endblock %}
    
    <footer>
        <div class="blackline"></div>
        <div style="width:100vw;display:flex;justify-content:space-evenly;align-items:center;">
            <a href="https://www.instagram.com/pinkland_crystalshop/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/Pinkland%E7%A7%98%E5%AF%86%E6%B0%B4%E6%99%B6-1226873457338019/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://api.whatsapp.com/send?phone=85256224180"><i class="fab fa-whatsapp"></i></a>
        </div>
        <div class="blackline"></div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js" type="text/javascript"></script>
    {% comment %} <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> {% endcomment %}
    <script src="{% static  'js/font-awersome.js' %}" type="text/javascript"></script>
    <script src="{% static  'js/main.js' %}" type="text/javascript"></script>
<body>



 
</body>