{% extends "base.html" %}
{% block content %}
<style>

</style>
<div class="product-container center">
<span style="padding: 1%;font-size: 2.5rem;border-bottom: solid 2px pink;margin: 10px 0;width:fit-content;">聯絡我們</span>
</div>
<div class="" style="background:white;">




<div class="row" style="height:auto;padding:3%; display:flex;flex-direction:column;">
<div id="map" class="" style="height:50vh;"></div>


<div class="" style="font-family: roboto;font-size: 1.7rem;float:left; width:50%;padding:0 3% 5%">
  
  <h1 style="font-weight: 300;">門市資料</h1>
  <table style="font-weight: 300;padding:1% 0%">
  <tr>
  <th><i class="fas fa-store-alt " style="margin-right:10px;color: coral;" ></i></th>
  <td>門市:</td>
  <td>旺角W商場3樓306 4-10</td>

  </tr>
    <tr>
  <th><i class="fas fa-phone " style="margin-right:10px;color: coral;" ></i></th>
  <td>電話:</td>
  <td>5622 4180</td>

  </tr>
    <tr>
  <th><i class="fas fa-envelope " style="margin-right:10px;color: coral;" ></i></th>
  <td>電郵:</td>
  <td>info@pinkland.com.hk</td>

  </tr>


  </table>
  

</div>    
</div>
<script>
// Initialize and add the map
function initMap() {
  var uluru = {lat: 22.3165211, lng: 114.1659331};
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 16, center: uluru});
  var marker = new google.maps.Marker({position: uluru, map: map});
}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEmwbBcSI0_7Aw2EhN6abcAnIO8SzKGe0&callback=initMap">
    </script>
{% endblock %}