{% extends "base.html" %} {% load static %} {% block content %} 
{% load discount%}

<style>

</style>
<div class="demo-cont">
    <!-- slider start -->
    <div class="fnc-slider example-slider">
        <div class="fnc-slider__slides">
            {% for p in posters %}
            <!-- slide start -->
            <div class="fnc-slide m--blend-dark{% if forloop.counter == 1 %} m--active-slide{% endif %}">
                <div class="fnc-slide__inner" style="background-image:url({{p.image.url}})">
                    <div class="fnc-slide__mask">
                        <div class="fnc-slide__mask-inner" style="background-image:url({{p.image.url}})"></div>
                    </div>
                    <div class="fnc-slide__content">
                        <h2 class="fnc-slide__heading">
                            <div class="fnc-slide__heading-line">
                                <span style="    font-size: 13vw;">{{p.title}}</span>
                                <span style="font-size:1rem;">{{p.description}}</span>
                            </div>

                        
                        </h2>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% comment %} <div class="fnc-slide m--blend-dark">
                <div class="fnc-slide__inner">
                    <div class="fnc-slide__mask">
                        <div class="fnc-slide__mask-inner"></div>
                    </div>
                    <div class="fnc-slide__content">
                        <h2 class="fnc-slide__heading">
                            <div class="fnc-slide__heading-line">
                                <span>Captain</span>
                            </div>
                            <div class="fnc-slide__heading-line">
                                <span>America</span>
                            </div>
                        </h2>

                    </div>
                </div>
            </div>
            <div class="fnc-slide m--blend-red">
                <div class="fnc-slide__inner">
                    <div class="fnc-slide__mask">
                        <div class="fnc-slide__mask-inner"></div>
                    </div>
                    <div class="fnc-slide__content">
                        <h2 class="fnc-slide__heading">
                            <div class="fnc-slide__heading-line">
                                <span>Iron</span>
                            </div>
                            <div class="fnc-slide__heading-line">
                                <span>Man</span>
                            </div>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="fnc-slide m--blend-blue">
                <div class="fnc-slide__inner">
                    <div class="fnc-slide__mask">
                        <div class="fnc-slide__mask-inner"></div>
                    </div>
                    <div class="fnc-slide__content">
                        <h2 class="fnc-slide__heading">
                            <div class="fnc-slide__heading-line">
                                <span>Thor</span>
                            </div>
                            <div class="fnc-slide__heading-line">
                                <span>Just Thor</span>
                            </div>
                        </h2>

                    </div>
                </div>
            </div> {% endcomment %}
        </div>
        <nav class="fnc-nav">
            <div class="fnc-nav__bgs">
              {% for p in posters %}
                <div class="fnc-nav__bg m--navbg-dark {% if forloop.counter == 1 %} m--active-nav-bg{% endif %}"></div>
                {%endfor%}
                {% comment %} <div class="fnc-nav__bg m--navbg-dark"></div>
                <div class="fnc-nav__bg m--navbg-red"></div>
                <div class="fnc-nav__bg m--navbg-blue"></div> {% endcomment %}
            </div>
            <div class="fnc-nav__controls">
            {% for p in posters %}
                <button class="fnc-nav__control">
          {{p.title}}
          <span class="fnc-nav__control-progress"></span>
        </button>
        {%endfor%}
            </div>
        </nav>
    </div>
    <!-- slider end -->
</div>
<div class="container">
    <div><h1>最新產品</h1></div>
    <div class="product-wrapper" style="">
    {% for obj in latest_product %}
        <div class="product" style="">
        <a href="{% url 'product_detail' obj.id %}">
            <img class="" style="" src="{{obj.thumbnail.url}}" alt="">
            <div class="product-overlay">
                <h3 class="">{{obj.name}}</h3>
                <div style="display:flex;">
                {% if obj.discount != 0 %}
                <h3 class="is_discount">$ {{obj.price}}</h3>
                <h3 class="" style="color: rebeccapurple;
        font-weight: 400;">$ {% discount obj.price obj.discount %}</h3>
                {% else %}
                <h3 class="">$ {{obj.price}}</h3>
                {% endif %}
                </div>
                
            </div>
            </a>
        </div>
        {% endfor %}
    </div> 
    <div><h1>最新產品</h1></div>
    <div class="post-wrapper">
    {% for igpost in igposts.data|slice:":2" %}
    <div class="post" >
    <div class="caption-wrapper"><p style="margin:0;padding:10px;white-space: pre-line;">{{igpost.caption}}</p>
    <a href="https://www.instagram.com/pinkland_crystalshop/">查看更多</a>
    </div>
    <div class="media-wrapper"><img src="{{igpost.media_url}}" style="width: 80vh;border: solid 5px pink;"> </div>
    </div>
    {%endfor%}
    </div>

</div>
<script>
{% comment %} $( ".posts" ).each(function(index) {
    $(this).on("click", function(){
        $(this).
    });
}); {% endcomment %}
</script>
{% endblock %}