{% extends "base.html" %} {% load static %} {% block content %} 
{% load discount%}
<!-- 
Please note, that you can apply .m--global-blending-active to .fnc-slider 
to enable blend-mode for all background-images or apply .m--blend-bg-active
to some specific slides (.fnc-slide). It's disabled by default in this demo,
because it requires specific images, where more than 50% of bg is transparent or monotone
-->
<div class="demo-cont">
    <!-- slider start -->
    <div class="fnc-slider example-slider">
        <div class="fnc-slider__slides">
            {% for p in posters %}
            <!-- slide start -->
            <div class="fnc-slide m--blend-dark{% if forloop.counter == 1 %} m--active-slide{% endif %}">
                <div class="fnc-slide__inner" style="background-image:url({{p.image.url}})">
                    <div class="fnc-slide__mask">
                        <div class="fnc-slide__mask-inner" style="background-image:url({{p.image.url}})"></div>
                    </div>
                    <div class="fnc-slide__content">
                        <h2 class="fnc-slide__heading">
                            <div class="fnc-slide__heading-line">
                                <span style="    font-size: 13vw;">{{p.title}}</span>
                                <span style="font-size:1rem;">{{p.description}}</span>
                            </div>

                        
                        </h2>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% comment %} <div class="fnc-slide m--blend-dark">
                <div class="fnc-slide__inner">
                    <div class="fnc-slide__mask">
                        <div class="fnc-slide__mask-inner"></div>
                    </div>
                    <div class="fnc-slide__content">
                        <h2 class="fnc-slide__heading">
                            <div class="fnc-slide__heading-line">
                                <span>Captain</span>
                            </div>
                            <div class="fnc-slide__heading-line">
                                <span>America</span>
                            </div>
                        </h2>

                    </div>
                </div>
            </div>
            <div class="fnc-slide m--blend-red">
                <div class="fnc-slide__inner">
                    <div class="fnc-slide__mask">
                        <div class="fnc-slide__mask-inner"></div>
                    </div>
                    <div class="fnc-slide__content">
                        <h2 class="fnc-slide__heading">
                            <div class="fnc-slide__heading-line">
                                <span>Iron</span>
                            </div>
                            <div class="fnc-slide__heading-line">
                                <span>Man</span>
                            </div>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="fnc-slide m--blend-blue">
                <div class="fnc-slide__inner">
                    <div class="fnc-slide__mask">
                        <div class="fnc-slide__mask-inner"></div>
                    </div>
                    <div class="fnc-slide__content">
                        <h2 class="fnc-slide__heading">
                            <div class="fnc-slide__heading-line">
                                <span>Thor</span>
                            </div>
                            <div class="fnc-slide__heading-line">
                                <span>Just Thor</span>
                            </div>
                        </h2>

                    </div>
                </div>
            </div> {% endcomment %}
        </div>
        <nav class="fnc-nav">
            <div class="fnc-nav__bgs">
              {% for p in posters %}
                <div class="fnc-nav__bg m--navbg-dark {% if forloop.counter == 1 %} m--active-nav-bg{% endif %}"></div>
                {%endfor%}
                {% comment %} <div class="fnc-nav__bg m--navbg-dark"></div>
                <div class="fnc-nav__bg m--navbg-red"></div>
                <div class="fnc-nav__bg m--navbg-blue"></div> {% endcomment %}
            </div>
            <div class="fnc-nav__controls">
            {% for p in posters %}
                <button class="fnc-nav__control">
          {{p.title}}
          <span class="fnc-nav__control-progress"></span>
        </button>
        {%endfor%}
            </div>
        </nav>
    </div>
    <!-- slider end -->
</div>
<div class="container">
<div><h1>最新產品</h1></div>

<div class="product-wrapper" style="">
  {% for obj in latest_product %}
    <div class="product" style="">
      <a href="{% url 'product_detail' obj.id %}">
        <img class="" style="" src="{{obj.thumbnail.url}}" alt="">
        <div class="product-overlay">
            <h3 class="">{{obj.name}}</h3>
            <div style="display:flex;">
            {% if obj.discount != 0 %}
              <h3 class="is_discount">$ {{obj.price}}</h3>
              <h3 class="">$ {% discount obj.price obj.discount %}</h3>
            {% else %}
              <h3 class="">$ {{obj.price}}</h3>
            {% endif %}
            </div>
            
        </div>
        </a>
    </div>
    {% endfor %}
</div> 


</div>
{% endblock %}