{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid p-3" style="background:white;">
<div style="position: relative;display:flex;justify-content:center;align-items:center;padding:5% 0;"><span style="background:black;display:block;height:2px;    width: -webkit-fill-available;"></span><div class="py-1 px-5 text-center" style="    width: -webkit-fill-available;"><h2>全部貨品</h2></div><span style="background:black;display:block;height:2px;    width: -webkit-fill-available;"></span></div>
<div class="row">
    <div class="col col-12 col-lg-3 col-md-12 col-sm-12 ">
        <div class="input-group m-2">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="far fa-gem"></i></span>
            </div>
            <div name="gem" class="form-control d-flex " roll="button" style="position:relative;align-items:center;justify-content:flex-end;" data-toggle="collapse" data-target="#collapse_type_filter" aria-expanded="false" aria-controls="collapse_type_filter">
            <div id="type_filter" style="position:absolute;left:0;padding:10px;">全部</div>
            <ul style="padding:0;text-overflow: ellipsis; z-index: 10; position: absolute; top: calc(1.5em + .75rem + 2px); width: 100%; right: 0;  background: white; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; max-height: 250px; overflow-y: scroll;box-shadow: 0px 8px 15px #6e6e6e;" class="collapse" id="collapse_type_filter"> 
                {% for t in types %}
                    <option class="custom-select-option" data-target="type" value="{{t}}">{{t}}</option>
                {% endfor %}
            </ul>
            <i class="fas fa-caret-down"></i>
            </div>
            
        </div>

    </div>
    
    <div class="col col-12  col-lg-3 col-md-12 col-sm-12 ">
        <div class="input-group m-2">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fas fa-gem"></i>
                </span>
            </div>
            <div name="gem" class="form-control d-flex " roll="button" style="position:relative;align-items:center;justify-content:flex-end;" data-toggle="collapse" data-target="#collapse_part_filter" aria-expanded="false" aria-controls="collapse_part_filter">
            <div id="part_filter" style="position:absolute;left:0;padding:10px;">全部</div>
            <ul style="padding:0;text-overflow: ellipsis; z-index: 10; position: absolute; top: calc(1.5em + .75rem + 2px); width: 100%; right: 0;  background: white; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; max-height: 250px; overflow-y: scroll;box-shadow: 0px 8px 15px #6e6e6e;"  class="collapse" id="collapse_part_filter"> 
                {% for p in parts %}
                <option class="custom-select-option" data-target="part" value="{{p}}" >{{p}}</option>
                {% endfor %}
            </ul>
            <i class="fas fa-caret-down"></i>
            </div>

        </div>

    </div>
        <div class="col col-12  col-lg-3 col-md-12 col-sm-12">
            <div class="input-group m-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-thumbs-up"></i>
                    </span>
                </div>
                <div name="gem" class="form-control d-flex " roll="button" style="position:relative;align-items:center;justify-content:flex-end;" data-toggle="collapse" data-target="#collapse_function_filter" aria-expanded="false" aria-controls="collapse_function_filter">
                <div id="function_filter" style="position:absolute;left:0;padding:10px;">全部</div>
                <ul style="padding:0;text-overflow: ellipsis; z-index: 10; position: absolute; top: calc(1.5em + .75rem + 2px); width: 100%; right: 0;  background: white; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; max-height: 250px; overflow-y: scroll;box-shadow: 0px 8px 15px #6e6e6e;" class="collapse" id="collapse_function_filter"> 
                    {% for f in functions %}
                    <option class="custom-select-option" data-target="function" value="{{f}}">{{f}}</option>
                    {% endfor %}
                </ul>
                <i class="fas fa-caret-down"></i>
                </div>

        </div>

    </div>
            <div class="col col-12  col-lg-3 col-md-12 col-sm-12 justify-content-center">
            <button type="button" id="query_submit" class="btn btn-primary">Search</button>
        </div>

</div>
    <div class="row">
        <div class="container-fluid">
            <div class="row p-3 justify-content-center">
                {% for p in page_obj %}
                    <div class="card col-5 mx-3 my-3 py-2 col-md-3 col-sm-5" style="">
                    <img src="{{p.thumbnail}}" class="card-img-top" style="object-fit: scale-down;height:200px;" alt="Product image">
                    <div class="card-body">
                        <h5 class="card-title">{{p.name}}</h5>
                        <p class="card-text"></p>
                        <a href="{% url 'product_detail' p.id %}" class="btn btn-primary">Details</a>
                    </div>
                    </div>
                    
                {% endfor %}

            </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                        {% endif %}
                        {% for page in page_obj.paginator.page_range %}
                            {% if page_obj.number == page %}
                                <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{page}}">{{page}} <span class="sr-only">(current)</span></a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>  
                        {% endif %}
                        
                    </ul>
                </nav>
        </div>
    </div>

</div>
{% endblock %}
