{% extends "base.html" %}
{% load discount %}
{% block content %}
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">

<script src="https://unpkg.com/swiper/js/swiper.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
  <style>
    .swiper-container {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      position:relative;
    }
    .swiper-slide {
      background-size: cover;
      background-position: center;
    }
    .gallery-top {
      height: 40vh;
      width: 100%;
    }
    .gallery-thumbs {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
      position:absolute;
      bottom:0;
    }
    .gallery-thumbs .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-thumb-active {
      opacity: 1;
    }
    .left{
        
        width:50vw;
        padding:0 10px;
        
    }
    .right{
        padding:10px 3%;
    }
    span.functions{
        background:pink;
        color:white;
        padding:5px 10px;
        margin:10px 0 ;
        display:inline-block;
        font-weight: 600;
    }
    span.material{
        background:mediumpurple;
        color:white;
        padding:5px 10px;
        margin:10px 0 ;
        display:inline-block;
        font-weight: 600;
    }
    span.categ{
        background:brown;
        color:white;
        padding:5px 10px;
        margin:10px 0 ;
        display:inline-block;
        font-weight: 600;
    }
  </style>
   <div > <img src="{{object.thumbnail.url}}" style="    object-fit: cover;
    object-position: center;
    width: 100vw;"></div>
<div style="top:10vh;position:sticky;padding:4% 3% 1%;background:white; z-index:5;display:flex;align-items:baseline;"><h1 style="padding:0;margin:0;width:fit">產品細節</h1><span style="margin-left:10px;">{{object.name}}</span></div>

<div style=" display:flex;justify-content-space-evenly;padding-bottom:5%;">
<div class="left">
     <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
                {% for i in object.images %}
                    <div class="swiper-slide" style="background-image:url({{i.image.url}})"></div>
                {% endfor %}
            </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            
            <div class="swiper-container gallery-thumbs">
                <div class="swiper-wrapper">
                    {% for i in object.images %}
                    <div class="swiper-slide" style="background-image:url({{i.image.url}})"></div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div> 
<div class="right">
    <div><span style="width:auto;    font-size: 1.8rem;">{{object.name}}</span></div>


    <div>

    {% for o in object.functions.all %}
    <span class="functions">功能 : {{o.name}}</span>
    {% endfor %} 

    <span class="material">材料 : {{object.material}}</span>

    <span class="categ">類別 : {{object.categ}}</span>
    </div>

    <div style="display:flex;align-items:center;"><span style="width: 100px;">產品描述:</span><p>{{object.description}}</p></div>
    <div>
        <span>售價 </span>
        {% if obj.discount != 0 %}
            <span class="is_discount">$ {{object.price}}</span>
            <span class="" style="">$ {% discount object.price object.discount %}</span>
        {% else %}
            <span class="">$ {{obj.price}}</span>
        {% endif %}
    </div>

    </div>
</div>



  <script>
    var galleryThumbs = new Swiper('.gallery-thumbs', {
      spaceBetween: 10,
      slidesPerView: 4,
      freeMode: true,
      watchSlidesVisibility: true,
      watchSlidesProgress: true,
    });
    var galleryTop = new Swiper('.gallery-top', {
      spaceBetween: 10,
      loop: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      thumbs: {
        swiper: galleryThumbs
      }
    });
  </script>

{% endblock %}